
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
span[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}



html {
  background-color: #E2E2E2;
}

body{
  width: 84%;
  margin: 0 auto;
}
p{

      font-family: 'Lobster Two',cursive;
      font-size: 12px;
      color: #446396;
      font-weight: normal;

}
.cabecera{

  background: url(img/bg2.jpg);
  padding-top: 60px;
padding-bottom: 60px;
margin-bottom: 50px;
margin-top: 40px;
}


.banner{
  width: 85%;
margin: 0 auto;
}

.principal {
  overflow: hidden;
}

.contenido {
  float: right;
  width: 40%;
  height: 40%;
    background: url(img/bg3.jpg);
    font-family: 'Lobster Two',cursive;
    font-size: 24px;
    color: #446396;
    font-weight: normal;
  padding: 0px;
  margin: auto;
}

.contenido p{
  text-align: center;
}

.menu {
  float: left;
  width: 45%;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.menu h1 {
  text-align: justify;
}

.menu p{
  text-align:center;
}

.menu ul {
		margin: 0px;
		padding: 0;
		list-style: none;
    text-align: center;
}

.menu ul li {
		line-height: 40px;

    padding-bottom: 5px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}

.avatar {

    width: 60%;
  margin: 0 auto;
}

.redes{


    font-family: 'Lobster Two',cursive;
    font-size: 24px;
    color: #446396;
    font-weight: normal;
  padding: 0px;
  margin: auto;



}



/* ---------- NAVIGATION ---------- */

nav {
  margin: 50px auto;
  width: 60px;
}

nav ul {
  background: #505664;
  border-radius: 5px;
  display: inline-table;
  position: relative;
}

nav li {
  float: left;
}

nav a {
  color: #6daeb0;
  display: block;
  height: 45px;
  line-height: 45px;
  text-align: center;
  width: 60px;
}

nav a:hover {
  color: #fff;
}

nav ul li ul {
  background: #6daeb0;
  margin-top: 20px;
  padding: 5px 0;
  position: absolute;
}

nav ul li ul:before {
  background: #6daeb0;
  content: "";
  height: 8px;
  left: 50%;
  margin: -4px 0 0 -4px;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 8px;
}

nav ul li ul li {
  float: none;
}

nav ul li ul li a {
  color: #fff;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li ul li a:hover {
  background-color: #5d9799;
}
