

html {
  background: #e7e2cf;
}

h1 {
    font-family: 'Lobster Two',cursive;
    font-size: 24px;
    color: #446396;
    font-weight: normal;
}

h2 {
    font-family: 'Rokkitt',serif;
    font-size: 21px;
    color: #d65a3d;
    font-weight: normal;
}

p{

  text-align : justify;
}
.page-wrap {
    width: 960px;
    overflow: hidden;
    margin: 0 auto;
}

.panel {
    overflow: hidden;
    background: url(img/bg3.jpg);
    padding: 30px;
}


.title {
    margin-bottom: 20px;
    margin-top: 15px;
}

.content img {
    margin-right: 30px;
    float: left;
    width: 350px;
    height: 350px;
}


.content p {
    padding-bottom: 10px;

}

.enquiry-wrap {
    background: url(img/bg4.jpg);
    width: 900px;
    margin: 30px auto 0 auto;
    padding: 30px;
}

#tabs {
	float:left;
	width: 100%;
	font-size:93%;
	line-height:normal;
	border-bottom:1px solid #DD740B;
	}

#tabs ul {
	margin:0;
	padding:30px 80px 0 32%;
	list-style:none;
	}

#tabs li {
	display:inline;
	margin:0;
	padding:0;
	}

#tabs a {
	float:left;
	background:url("../tableft.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 5px;
	text-decoration:none;
	}

#tabs a span {
	float:left;
	display:block;
	background:url("../tabright.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
	color:#FFF;
	}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span {float:none;}

/* End IE5-Mac hack */
#tabs a:hover span {
	color:#FFF;
	}

#tabs a:hover {
	background-position:0% -42px;
	}

#tabs a:hover span {
	background-position:100% -42px;
	}
